# Node.js dependencies
frontend/node_modules
frontend/build

# Archivos de Maven
target/
*.jar
*.war
*.ear

# Configuración de Maven
.mvn/
mvnw
mvnw.cmd

# Archivos del IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# Archivos de sistema (Mac y Linux)
.DS_Store
Thumbs.db

# Logs y archivos de depuración
logs/
*.log
hs_err_pid*

# Variables de entorno y configuración sensible
venv/
.env
